{{ content_for_index }}

<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item  medium-up--two-thirds medium-up--push-one-sixth">

    <div class="custom__item  align--center">
        <div class="custom__item-inner custom__item-inner--text">
          <div class="medium-up--text-center">
              <h4 class="h3">@loveyourlinens</h4>
          </div>
            
        </div>
      </div>
      
      <div class="rich-text__heading--medium text-center">
        <h2 class="h3">Sweet dreams are made of these</h2>
      </div>
      
    </div>
  </div>
</div>

<div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
    <div class="section-header text-center">
    <section class='col-sm-12 swiper-container-instagram'><div class="swiper-wrapper" id="instagram"></div></section>
    </div>
</div>


